<div class={{panelHeaderClasses}}>
  <h4 {{action "toggle"}} class={{panelTitleClasses}} style="cursor:pointer">
    <a class={{panelTogglerClasses}}>
      <i class="fa fa-plus-circle m-r-5"></i> {{title}}
    </a>
  </h4>
</div>
<div class={{panelBodyContainerClasses}}>
  <div class={{panelBodyClasses}}>{{yield}}</div>
</div>
